{% extends "templates/admin_panel/admin_main.html" %}
{%load static %}
{% block content %}
<div id="app">
{% include "templates/admin_panel/nav.html" %}
<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Administration <b class="font-black">Panel</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'dashboard' %}">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>

    <ul class="menu-list">
      <li>
        <a href="{% url 'distributors' %}">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Distributors</span>
        </a>
      </li>
      <li class="active">
        <a href="{% url 'products' %}">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Products</span>
        </a>
      </li>
      <li>
        <a href="{% url 'customers' %}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Customers</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Products</li>
    </ul>
  </div>
</section>
  <section class="section main-section">

    <div class="card has-table">
      <div class="card-content">
        <table>
          <thead>
          <tr>
            <th class="image-cell"></th>
            <th>Name</th>
            <th>Measurement</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
              <td class="image-cell">
                <div class="image">
                  <img alt="Product" src="{{product.imageURL}}" class="rounded-full">
                </div>
              </td>
              <td data-label="Name">{{product.name}}</td>
              <td data-label="Measurement">{{product.measurement}}</td>
              <td data-label="Price">R {{product.price}}</td>
              <td data-label="Status">{{product.status}}</td>
              <td class="actions-cell">
                <div class="buttons right nowrap">
                  <button class="button small green --jb-modal" type="button">
                    <a href="{% url 'view_product' product.id %}"><span class="icon"><i class="mdi mdi-eye"></i></span></a>
                  </button>
                  <button class="button small red --jb-modal" data-target="sample-modal" type="button">
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </button>
                </div>
              </td>
            </tr>
            <div id="sample-modal" class="modal">
              <div class="modal-background --jb-modal-close"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Delete Confirmation</p>
                </header>
                <section class="modal-card-body">
                  <p>Are you sure you want to delete <b>{{product.name}}</b>?</p>
                  <p>Measurement: {{product.measurement}}</p>
                </section>
                <footer class="modal-card-foot">
                  <button class="button --jb-modal-close">Cancel</button>
                  <button class="button red --jb-modal-close"><a href="{% url 'delete_product' product.id %}">Confirm</a></button>
                </footer>
              </div>
            </div>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <button class="button green float-right"><a href="{% url 'add_product' %}">Add New</a></button>
  </div>
</section>
{%  endblock content %}
