{% extends "templates/admin_panel/admin_main.html" %}
{%load static %}
{% block content %}
<div id="app">
{% include "templates/admin_panel/nav.html" %}
<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Administration <b class="font-black">Panel</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'dashboard' %}">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>

    <ul class="menu-list">
      <li>
        <a href="{% url 'distributors' %}">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Distributors</span>
        </a>
      </li>
      <li>
        <a href="{% url 'products' %}">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Products</span>
        </a>
      </li>
      <li>
        <a href="{% url 'customers' %}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Customers</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Messages</li>
      <li>View Message</li>
    </ul>
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      {{message.name}} {{message.surname}}
    </h1>
  </div>
</section>

  <section class="section main-section">
    <div class="card mb-6">
      <div class="card-content">

        <div class="field">
          <h3 style="font-weight:bold;">Contact Information</h3>
          <div class="control">
                <p class="card-category">Email: {{message.email}}</p>
                <p class="card-category">Phone Number: {{message.phone}}</p>           
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-6">
      <div class="card-content">

        <div class="field">
          <h3 style="font-weight:bold;">Message</h3>
          <div class="control">
            {{message.message}}
          </div>
        </div>
      </div>
    </div>
  </section>

{%  endblock content %}
