{% extends "templates/admin_panel/admin_main.html" %}
{%load static %}
{% block content %}
<div id="app">
{% include "templates/admin_panel/nav.html" %}
<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      Administration <b class="font-black">Panel</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'dashboard' %}">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>

    <ul class="menu-list">
      <li>
        <a href="{% url 'distributors' %}">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Distributors</span>
        </a>
      </li>
      <li class="active">
        <a href="{% url 'products' %}">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Products</span>
        </a>
      </li>
      <li>
        <a href="{% url 'customers' %}">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Customers</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Products</li>
      <li>View Product</li>
    </ul>
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      {{product.name}}
    </h1>
  </div>
</section>

  <section class="section main-section">
    <div class="card mb-6">
      <div class="card-content">

        <div class="field">
          <h3 style="font-weight:bold;">Measurment:</h3>
          <div class="control">
            {{product.measurement}}
          </div>
        </div>
        <hr/>
        <div class="field">
          <h3 style="font-weight:bold;">Price:</h3>
          <div class="control">
            R {{product.price}}
          </div>
        </div>
        <hr/>
        <div class="field">
          <h3 style="font-weight:bold;">Status:</h3>
          <div class="control">
            {{product.status}}
          </div>
        </div>
        <hr/>
        <div class="field grouped">
            <div class="control">
              <button type="submit" id="status" class="button green">
                Update Status
              </button>
            </div>
        </div>
        <form method="POST" action="" id="update_status">
          {% csrf_token %}
          {{update_form}}
          <input class="button blue" type="submit">
        </form>
      </div>
    </div>
  </section>
  <script type="text/javascript">
            document.getElementById('update_status').style.display = "none";

            var updateStatus = document.getElementById('status')
            updateStatus.addEventListener('click',function(e){
              e.preventDefault()
              document.getElementById('update_status').style.display = "block";
            })
  </script>
{%  endblock content %}
